[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=x11docker --backend=podman --nxagent --alsa --home -- --tmpfs /dev/shm -- localhost/solfege solfege
Name=GNU Solfege
Icon=solfege
Categories=GTK;AudioVideo;Audio;Education;Music;
Keywords=music;education;practice;intervals;chords;rhythm;scales;dictation;intonation;harmonic;sing;cadences
Comment=Ear training software
